/dts-v1/;
/plugin/;

/ {
        metadata {
                title = "Enable Raspberry Pi HQ Camera (IMX477)";
                compatible = "radxa,zero3";
                category = "camera";
                exclusive = "csi2_dphy0";
                description = "Enable Raspberry Pi HQ Camera IMX477.";
        };

        fragment@0 {
                target-path = "/";

                __overlay__ {

                        external-camera-clock-24m {
                                status = "okay";
                                compatible = "fixed-clock";
                                clock-frequency = <0x16e3600>;
                                clock-output-names = "clk_cam_24m";
                                #clock-cells = <0x00>;
                                phandle = <0x01>;
                        };

                        camera-pwdn-gpio {
                                status = "okay";
                                compatible = "regulator-fixed";
                                regulator-name = "camera_pwdn_gpio";
                                regulator-always-on;
                                regulator-boot-on;
                                enable-active-high;
                                gpio = <&gpio3 0x16 0x00>;
                                phandle = <0x06>;
                        };
                };
        };

        fragment@1 {
                target = <&i2c2>;

                __overlay__ {
                        status = "okay";
                        pinctrl-names = "default";
                        pinctrl-0 = <&i2c2m1_xfer>;
                        #address-cells = <0x01>;
                        #size-cells = <0x00>;

                        camera-imx477@1a {
                                status = "okay";
                                compatible = "sony,imx477";
                                reg = <0x1a>;
                                clocks = <0x01>;
                                clock-names = "xvclk";
                                rockchip,camera-module-index = <0x00>;
                                rockchip,camera-module-facing = "back";
                                rockchip,camera-module-name = "rpi-camera-hq";
                                rockchip,camera-module-lens-name = "default";

                                port {
                                        endpoint {
                                                remote-endpoint = <&mipi_in_ucam0>;
                                                data-lanes = <0x01 0x02>;
                                        };
                                };
                        };
                };
        };

        fragment@2 {
                target = <&csi2_dphy_hw>;

                __overlay__ {
                        status = "okay";
                };
        };

        fragment@3 {
                target = <&csi2_dphy0>;

                __overlay__ {
                        status = "okay";

                        ports {
                                #address-cells = <0x01>;
                                #size-cells = <0x00>;

                                port@0 {
                                        reg = <0x00>;
                                        #address-cells = <0x01>;
                                        #size-cells = <0x00>;

                                        mipi_in_ucam0: endpoint@1 {
                                                reg = <0x01>;
                                                remote-endpoint = <&ucam_out0>;
                                                data-lanes = <0x01 0x02>;
                                        };
                                };

                                port@1 {
                                        reg = <0x01>;
                                        #address-cells = <0x01>;
                                        #size-cells = <0x00>;

                                        dphy0_out: endpoint@1 {
                                                reg = <0x01>;
                                                remote-endpoint = <&isp0_in>;
                                        };
                                };
                        };
                };
        };

        fragment@4 {
                target = <&rkisp_vir0>;

                __overlay__ {
                        status = "okay";

                        port {
                                #address-cells = <0x01>;
                                #size-cells = <0x00>;

                                isp0_in: endpoint@0 {
                                        reg = <0x00>;
                                        remote-endpoint = <&dphy0_out>;
                                };
                        };
                };
        };

        fragment@5 {
                target = <&rkisp>;
                __overlay__ {
                        status = "okay";
                };
        };

        fragment@6 {
                target = <&rkisp_mmu>;
                __overlay__ {
                        status = "okay";
                };
        };

        fragment@7 {
                target = <&rkcif_mmu>;
                __overlay__ {
                        status = "okay";
                };
        };

        fragment@8 {
                target = <&rkcif>;
                __overlay__ {
                        status = "okay";
                };
        };
};
