/dts-v1/;
/plugin/;

/ {
        metadata {
                title = "Enable Raspberry Pi HQ Camera (IMX477)";
                compatible = "radxa,zero3w", "radxa,zero3";
                category = "camera";
                exclusive = "csi2_dphy0";
                description = "Enable Raspberry Pi HQ Camera IMX477.";
        };

        fragment@0 {
                target-path = "/";

                __overlay__ {

                        clk_cam_24m: external-camera-clock-24m {
                                status = "okay";
                                compatible = "fixed-clock";
                                clock-frequency = <0x16e3600>;
                                clock-output-names = "clk_cam_24m";
                                #clock-cells = <0x00>;
                        };

                        camera-pwdn-gpio {
                                status = "okay";
                                compatible = "regulator-fixed";
                                regulator-name = "camera_pwdn_gpio";
                                regulator-always-on;
                                regulator-boot-on;
                                enable-active-high;
                                /* gpio3 phandle=0x7f, GPIO3_C6=pin 22=0x16 */
                                gpio = <0x7f 0x16 0x00>;
                        };
                };
        };

        /* i2c2 = /i2c@fe5b0000 */
        fragment@1 {
                target-path = "/i2c@fe5b0000";

                __overlay__ {
                        status = "okay";
                        pinctrl-names = "default";
                        pinctrl-0 = <0x22d>;
                        #address-cells = <0x01>;
                        #size-cells = <0x00>;

                        camera-imx477@1a {
                                status = "okay";
                                compatible = "sony,imx477";
                                reg = <0x1a>;
                                clocks = <&clk_cam_24m>;
                                clock-names = "xvclk";
                                rockchip,camera-module-index = <0x00>;
                                rockchip,camera-module-facing = "back";
                                rockchip,camera-module-name = "rpi-camera-hq";
                                rockchip,camera-module-lens-name = "default";

                                port {
                                        ucam_out0: endpoint {
                                                remote-endpoint = <&mipi_in_ucam0>;
                                                data-lanes = <0x01 0x02>;
                                        };
                                };
                        };
                };
        };

        /* csi2_dphy_hw = /csi2-dphy-hw@fe870000 */
        fragment@2 {
                target-path = "/csi2-dphy-hw@fe870000";

                __overlay__ {
                        status = "okay";
                };
        };

        /* csi2_dphy0 = /csi2-dphy0 */
        fragment@3 {
                target-path = "/csi2-dphy0";

                __overlay__ {
                        status = "okay";

                        ports {
                                #address-cells = <0x01>;
                                #size-cells = <0x00>;

                                port@0 {
                                        reg = <0x00>;
                                        #address-cells = <0x01>;
                                        #size-cells = <0x00>;

                                        mipi_in_ucam0: endpoint@1 {
                                                reg = <0x01>;
                                                remote-endpoint = <&ucam_out0>;
                                                data-lanes = <0x01 0x02>;
                                        };
                                };

                                port@1 {
                                        reg = <0x01>;
                                        #address-cells = <0x01>;
                                        #size-cells = <0x00>;

                                        dphy0_out: endpoint@1 {
                                                reg = <0x01>;
                                                remote-endpoint = <&isp0_in>;
                                        };
                                };
                        };
                };
        };

        /* rkisp_vir0 = /rkisp-vir0 */
        fragment@4 {
                target-path = "/rkisp-vir0";

                __overlay__ {
                        status = "okay";

                        port {
                                #address-cells = <0x01>;
                                #size-cells = <0x00>;

                                isp0_in: endpoint@0 {
                                        reg = <0x00>;
                                        remote-endpoint = <&dphy0_out>;
                                };
                        };
                };
        };

        /* rkisp = /rkisp@fdff0000 */
        fragment@5 {
                target-path = "/rkisp@fdff0000";
                __overlay__ {
                        status = "okay";
                };
        };

        /* rkisp_mmu = /iommu@fdff1a00 */
        fragment@6 {
                target-path = "/iommu@fdff1a00";
                __overlay__ {
                        status = "okay";
                };
        };

        /* rkcif_mmu = /iommu@fdfe0800 */
        fragment@7 {
                target-path = "/iommu@fdfe0800";
                __overlay__ {
                        status = "okay";
                };
        };

        /* rkcif = /rkcif@fdfe0000 */
        fragment@8 {
                target-path = "/rkcif@fdfe0000";
                __overlay__ {
                        status = "okay";
                };
        };
};
